.title {
    text-align: center;
    color: #1f4fd8;
    font-weight: bold;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}

.stButton button {
    width: 100%;
    background-color: #1f4fd8;
    color: white;
    font-size: 18px;
    border-radius: 8px;
}
